//tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./reset.scss";
@import "./variables.scss";
@import "./typography.scss";
@import "./header.scss";
@import "./animation.scss";

* {
  font-family: $font-family-name, $font-generic-name;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.animate {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

iframe {
  transition: all 2s ease;
}

.viewall-btn {
  // background-color: black;
  color: #fff;
  padding: 0.5em 2em;
  border-radius: 2em;
  font-weight: 600;
}

.mySwiper{

  .swiper-button-next,
  .swiper-button-prev {
    color: white;
  }

  .swiper-pagination-bullet{
    background-color: white;
  }
}

.search-icon {
  color: #777;
  cursor: pointer;
}

